body {
    background-color: #f7f9fc;
    font-family: "Arial", sans-serif;
}

h1 {
    color: #2c3e50;
    font-weight: bold;
    margin-top: 20px;
}

#region-filter {
    font-size: 18px;
    color: #34495e;
}

#sales-chart {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 10px;
}
